* {
  box-sizing: border-box;
  margin: 0;
}
body,
html {
  height: 100vh;
  background-color: rgb(196, 195, 199);
  font-family: "Handlee", cursive;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("heart.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}
.titleName {
  text-align: center;
  font-size: 4rem;
  padding-top: 1.5rem;
}
.underTitle {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
h4 {
  padding-left: 1rem;
}
.sadMessage {
  text-align: end;
  padding-right: 1rem;
  font-size: 1.25rem;
}
.imageContainer {
  background-color: rgb(124, 120, 120);
  border-radius: 1rem;
  margin: 2rem;
  width: auto;
  text-align: center;
  padding: 20px;
  height: auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(27, 27, 27, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(31, 30, 30, 0.75);
  box-shadow: 10px 10px 4px 0px rgba(32, 32, 32, 0.75);
}
img {
  width: auto;
  height: 400px;
  border-radius: 1.15rem;
}
button{
  margin-left:50rem;
  margin-bottom:1rem;
  padding:8px;
  border-radius:10px;
  background-color:rgb(46, 9, 31);
  color:whitesmoke;
  font-variant:small-caps;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow:8px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
button:hover{
  padding:12px;
}
button:focus{
  border: none;
}
.about {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.container li {
  list-style: none;
}
.likes {
  font-size: 1.25rem;
}
.dislikes {
  font-size: 1.25rem;
}
.kids {
  width: 20rem;
  height: 15rem;
  -webkit-box-shadow: 5px 5px 3px 5px rgba(27, 27, 27, 0.75);
  -moz-box-shadow: 5px 5px 3px 5px rgba(31, 30, 30, 0.75);
  box-shadow: 5px 5px 3px 2px rgba(44, 44, 44, 0.75);
}
.jack {
  width: 20rem;
  height: 15rem;
  margin-left: 0.5rem;
  -webkit-box-shadow: 5px 5px 3px 5px rgba(27, 27, 27, 0.75);
  -moz-box-shadow: 5px 5px 3px 5px rgba(31, 30, 30, 0.75);
  box-shadow: 5px 5px 3px 2px rgba(44, 44, 44, 0.75);
}
.leftSide {
  margin-left: 2rem;
}
.rightSide {
  margin-left: 12rem;
  margin-top: 4.5rem;
}

.earmuffs {
  height: 15rem;
  width: 15rem;
  -webkit-box-shadow: 5px 5px 3px 5px rgba(27, 27, 27, 0.75);
  -moz-box-shadow: 5px 5px 3px 5px rgba(31, 30, 30, 0.75);
  box-shadow: 5px 5px 3px 2px rgba(44, 44, 44, 0.75);
}
.bottomSection {
  margin-left: 22rem;
  margin-top: 1rem;
}
.ringo_jack {
  font-size: 1rem;
}
/* .background{
    background-image: url("heart.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;
} */
.background {
  background-image: url("ball.png");
  background-size: 12rem 12rem;
  background-repeat: no-repeat;
  background-position: 54% 30%;
}

.copy {
  display: block;
  text-align: end;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.finalMessage {
  display: block;
  font-size: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
